$schema: http://json-schema.org/draft-04/schema#
type: object
additionalProperties: false
properties:
    stardis_config_version:
        enum:
        - 1.0
    n_threads:
        type: number
        multipleOf: 1
        default: 1
        description: Number of threads to use. If 1 run in serial. If 0, use all available threads.
    atom_data:
        type: string
        description: Path to the atomic data file. The file should be in hdf5 format output by carsus.
    model:
        type: object
        additionalProperties: false
        properties:
            type:
                enum:
                - marcs
                - mesa
            fname:
                type: string
                description: Path to the model file. 
            gzipped:
                type: boolean
                default: false
                description: Whether the file is gzipped. Only used for marcs models.            
            final_atomic_number:
                type: number
                multipleOf: 1
                default: 30
                description: The atomic number of the heaviest element to use in the simulation. Elements heavier will be exlucded.
            truncate_to_shell:
                type: number
                multipleOf: 1
                default: -99
                description: If -99, use all shells. If positive, use only specified outermost depth points. Only used for mesa models. 
            elemental_rescaling_dict:
              type: object
              default: {}
              description: Rescale the abundances of the elements in the model. The keys are the atomic numbers of the elements to rescale and the values are the rescaling factors.
        required:
        - type
        - fname
    opacity:
        type: object
        additionalProperties: false
        properties:
            file:
                type: object
                default: {}
                additionalProperties: false
                patternProperties:
                    _bf$:
                        type: string
                    _ff$:
                        type: string
            bf:
                type: object
                default: {}
                additionalProperties:
                    type: object
                    additionalProperties: false
                    properties:
                        gaunt:
                            type: [string, "null"]
                            default: null
                        departure:
                            type: [string, "null"]
                            default: null
            ff:
                type: object
                default: {}
                additionalProperties:
                    type: object
                    additionalProperties: false
                    properties:
                        gaunt:
                            type: [string, "null"]
                            default: null
                        departure:
                            type: [string, "null"]
                            default: null
            rayleigh:
                type: array
                default: []
                items:
                    enum:
                    - H
                    - He
                    - H2
            disable_electron_scattering:
                type: boolean
                default: false
            line:
                type: object
                additionalProperties: false
                properties:
                    disable:
                        type: boolean
                        default: false
                    broadening:
                        type: array
                        items:
                            enum:
                            - linear_stark
                            - quadratic_stark
                            - van_der_waals
                            - radiation
                        default: []
                        description: Types of broadening to include.
                    min:
                        type: quantity
                        default: 0 Hz
                    max:
                        type: quantity
                        default: inf Hz
                    broadening_range:
                        type: [quantity, "null"]
                        default: null
                        description: How far away to look for lines at any given wavelength or frequency. Must be in frequency or wavelength units. Does not apply to hydrogen. 
                    vald_linelist:
                        type: object
                        default: {}
                        properties:
                            use_linelist:
                                type: boolean
                                default: false
                            type: boolean
                            shortlist:
                                type: boolean
                                default: false
                        description: Options for whether to use a vald linelist. Linelist must be included the atom_data and cannot be supplied separately. 
        #required:
        #- line
    no_of_thetas:
        type: number
        multipleOf: 1
        default: 10
        description: Number of angles to use in the simulation.
    result_options:
        type: object
        additionalProperties: False
        default: {}
        properties:
            return_model:
                type: boolean
                default: false
            return_plasma:
                type: boolean
                default: false
            return_radiation_field:
                type: boolean
                default: True
        description: Options for what to return from the simulation.
    required:
    - stardis_config_version
    - atom_data
    - model
    - opacity
