name: tests

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  CACHE_NUMBER: 0  # increase to reset cache manually
  PYTEST_FLAGS: --cov=stardis --cov-report=xml --cov-report=html
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

defaults:
  run:
    shell: bash -l {0}

jobs:
  build:
    # if: github.repository_owner == 'tardis-sn'
    strategy:
      matrix:
        include:

        - os: ubuntu-latest
          label: linux-64
          prefix: /usr/share/miniconda3/envs/stardis

        - os: ubuntu-latest
          label: linux-64-cuda
          prefix: /usr/share/miniconda3/envs/stardis

        - os: macos-latest
          label: osx-64
          prefix: /Users/runner/miniconda3/envs/stardis
    
    name: ${{ matrix.label }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup Mambaforge
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          activate-environment: stardis
          use-mamba: true

      - name: Cache lockfile
        uses: actions/cache@v2
        with:
          path: ${{ matrix.prefix }}
          key: conda-${{ matrix.label }}-${{ hashFiles('conda-${{ matrix.label }}.lock') }}-${{ env.CACHE_NUMBER }}
        id: cache-conda

      - name: Update Conda Environment
        id: update-env
        run: |
          mamba update -n stardis --file conda-${{ matrix.label }}.lock
        if: steps.cache-conda.outputs.cache-hit != 'true'

      - name: Install TARDIS
        id: install-tardis
        # shell: bash -l {0}
        run: |
          pip install git+https://github.com/tardis-sn/tardis.git@release-2023.04.16
          
      - name: Install STARDIS
        id: install-stardis
        # shell: bash -l {0}
        run: |
          pip install -e .[test]

      - name: Run tests
        run: pytest stardis ${{ env.PYTEST_FLAGS }}          

      - name: Upload to Codecov
        run: bash <(curl -s https://codecov.io/bash)
